<html>
    <head>
        <title>
           <%=title%>
        </title>
        <link rel="stylesheet" href="/css/file.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>
            CSV
        </h1>
        <!-- search box  -->
        <input type="text" id="myInput" onkeyup="searchColumn()" placeholder="Search for second column..">
       
        <!-- table for displaying csv data -->
        <table id="myTable"class="table-sortable">
            <thead>
                <tr>
                    <!-- for storing key in header table -->
                    <% for(var i=0;i< Object.keys(results[0]).length;i++){ %> 
                    <th >
                        <%=Object.keys(results[0])[i]%>
                    </th>
                    
                    <%}%>  
                </tr>
            </thead>
            <tbody>
                <!-- getting results from display controller -->
                <% for(let result of results){ %>
                    <tr>
                        <% for(let key in result){ %>
                            
                            <td>
                                <%=result[key]%>
                            </td>
                        <%}%>
                    </tr>
                    <%}%>
            </tbody>
        </table>
        <script src="/js/file.js" ></script>
    </body>
</html>
