<html>
    <head>
        <title>
           <%=title%>
        </title>
        <link rel="stylesheet" href="/css/file.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>
            CSV
        </h1>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for second column..">
        <table id="myTable">
            <tr>
              
                
                     <% for(var i=0;i< Object.keys(results[0]).length;i++){ %> 
                    <th id="<%=i%>" onclick="sortTable(1)">
                        <%=Object.keys(results[0])[i]%>
                    </th>
                   
                <%}%>  
            </tr>
            <% for(let result of results){ %>
                <tr>
                    <% for(let key in result){ %>
                        
                        <td>
                            <%=result[key]%>
                        </td>
                    <%}%>
                </tr>
                <%}%>
        
        </table>
        <script src="/js/file.js" ></script>
    </body>
</html>
