<html>
    <head>
        <title>
           <%=title%>
        </title>
    </head>
    <body>
        <h1>
            csV
        </h1>
        <!-- if user matches then show the form -->
    <form action="/upload/file" enctype="multipart/form-data" method="POST">
        
        <input type="file" name="avatar" placeholder="csv file">
        <input type="submit"  value="Update">
    </form>
    </body>

</html>