<html>
    <head>
        <title>
           <%=title%>
        </title>
    </head>
    <body>
        <h1>
            CSV
        </h1>
            <!-- form for uploading file-->
        <form action="/files/upload" enctype="multipart/form-data" method="POST">
            <label for="file">Select files:</label>
            <input type="file" id="file" name="avatar" placeholder="csv file" accept=".csv" required><br><br>
            <input type="submit"  value="Submit">
        </form>
        <!-- for displaying file -->
        <div id ="display">
            <ul>
            <% for(let file of files){ %>
                <li>
                    <div>
                        <a href="http://localhost:8000/files/display/<%=file._id %>"><%=file.name%></a>
                    </div>
                </li>
            <%}%>
            </ul>
        </div>
    </body>

</html>