<html>
    <head>
        <title>
            File Uploader
        </title>
    </head>

</html>
    <!-- if user matches then show the form -->
    <form action="" enctype="multipart/form-data" method="POST">
        
        <input type="file" name="avatar" placeholder="csv file">
        <input type="submit"  value="Update">
    </form>